.ui-page-notification {
    & {
        padding: 15px 20px;
        overflow: auto;
        line-height: 24px;
        font-size: 1.1em;
        min-width: 350px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
    }
    .close_button {
        float: right;
        width: 24px;
        height: 24px;
        background: url('../icons/close-x.svg') no-repeat;
        background-size: cover;
        background-position: 0 -24px;
        opacity: 1;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        cursor: pointer;
    }
    .close_button:hover {
        opacity: 0.7;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
    }
    .action_button {
        float: left;
        margin: 0 15px;
        color: #3cb0f7;
        cursor: pointer;
    }
    .page-notification-icon {
        width: 24px;
        height: 24px;
        float: left;
        margin-right: 10px;
        display: none;
        background: url('../icons/notifications.svg') no-repeat;
        background-size: cover;
    }
    .page-notification-title {
        float: left;
    }
    &.dark {
        background: rgba(10, 20, 30, 0.9);
        color: #e2e5ee;

        .close_button {
            background-position: 0 0;
        }
    }
    &.light {
        background: rgba(226, 229, 238, 0.9);
        color: #0a141e;
    }
    &.info {
        background-color: #b6dcf5;
        color: #0f4976;

        .page-notification-icon {
            display: block;
            background-position: 0 -48px;
        }
    }
    &.success {
        background-color: #cce7c7;
        color: #3eac47;

        .page-notification-icon {
            display: block;
            background-position: 0 0;
        }
    }
    &.warning {
        background-color: #f6d1a3;
        color: #e8732a;

        .page-notification-icon {
            display: block;
            background-position: 0 -72px;
        }
    }
    &.error {
        background-color: #f8b5bd;
        color: #76121b;

        .page-notification-icon {
            display: block;
            background-position: 0 -24px;
        }
    }
}

@media screen and (max-width: 500px) {
    .ui-page-notification {
        & {
            min-width: 0;
        }
        .page-notification-title {
            float: none;
        }
        .action_button {
            float: none;
            margin: 0;
        }
    }
}