.popupOverlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 50000;
    overflow-y: auto;
}

.uiPopup {
    & {
        display: none;
        position: fixed;
        z-index: 300;
        width: auto;
        overflow: visible;
        max-width: 90%;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    }
    .popupContent {
        overflow: auto;
        height: 100%;
    }
    &.wbrdr {
        background-color: #fff;
        border: 1px solid #5e6570;
    }
    &.wbg {
        z-index: 350;
    }

    &.timeout .actionButton {
        display: block;
        background-image: none;
    }
    & > .ppArrowFront,
    & > .ppArrowBack {
        position: absolute;
    }

    /* Top */
    &.topPointer,
    &.topcenterPointer {
        .ppArrowFront {
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #fff;
        }
        .ppArrowBack {
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 9px solid;
            border-bottom-color: inherit;
        }
    }
    &.topPointer {
        .ppArrowFront {
            top: -8px;
        }
        .ppArrowBack {
            top: -9px;
        }
    }
    &.topcenterPointer {
        .ppArrowFront {
            top: -8px;
            left: 50%;
            margin-left: -7px;
        }
        .ppArrowBack {
            top: -9px;
            left: 50%;
            margin-left: -8px;
        }
    }

    /* Bottom */
    &.bottomPointer,
    &.bottomcenterPointer {
        .ppArrowFront {
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid #fff;
        }
        .ppArrowBack {
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-top: 9px solid;
            border-top-color: inherit;
        }
    }
    &.bottomPointer > .ppArrowFront {
        bottom: -8px;
    }
    &.bottomPointer > .ppArrowBack {
        bottom: -9px;
    }
    &.bottomcenterPointer > .ppArrowFront {
        bottom: -8px;
        left: 50%;
        margin-left: -7px;
    }
    &.bottomcenterPointer > .ppArrowBack {
        bottom: -9px;
        left: 50%;
        margin-left: -8px;
    }

    /* Left */
    &.leftPointer,
    &.leftcenterPointer {
        .ppArrowFront {
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 8px solid #fff;
        }
        .ppArrowBack {
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
            border-right: 9px solid;
            border-right-color: inherit;
        }
    }
    &.leftPointer > .ppArrowFront {
        left: -8px;
    }
    &.leftPointer > .ppArrowBack {
        left: -9px;
    }
    &.leftcenterPointer > .ppArrowFront {
        left: -8px;
        top: 50%;
        margin-top: -7px;
    }
    &.leftcenterPointer > .ppArrowBack {
        left: -9px;
        top: 50%;
        margin-top: -8px;
    }

    /* Right */
    &.rightPointer,
    &.rightcenterPointer {
        .ppArrowFront {
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid #fff;
        }
        .ppArrowBack {
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
            border-left: 9px solid inherit;
        }
    }
    &.rightPointer > .ppArrowFront {
        right: -8px;
    }
    &.rightPointer > .ppArrowBack {
        right: -9px;
    }
    &.rightcenterPointer > .ppArrowFront {
        right: -8px;
        top: 50%;
        margin-top: -7px;
    }
    &.rightcenterPointer > .ppArrowBack {
        right: -9px;
        top: 50%;
        margin-top: -8px;
    }
}

.popupOverlay .uiPopup {
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
}