form.form-template.form-simple {
    .form-simple-row {
        & {
            position: relative;
            margin: auto;
            clear: both;
            padding: 5px 0;
            vertical-align: middle;
            overflow: auto;
        }
        input {
            width: 200px;
            float: left;
        }

        textarea {
            width: 200px;
            max-width: 50%;
            float: left;
        }

        select {
            width: 200px;
            border: 1px solid #777;
            padding: 3px;
            margin: 0;
            float: left;
        }
    }

    .form-simple-label {
        float: left;
        padding: 3px 0;
        width: 200px;
        text-align: right;
        margin-right: 5px;
        cursor: pointer;
    }

    .form-simple-notes {
        display: block;
        clear: both;
        margin-left: 200px;
        font-style: italic;
        color: #777;
        max-width: 500px;
    }

    .form-simple-required-notes {
        clear: both;
        color: #777;
        font-style: italic;
        padding: 5px 0;
        text-indent: 10px;
    }

    span.required {
        color: #c00403;
    }

    .form-controls {
        & {
            overflow: auto;
        }
        &:empty {
            margin: 0;
            padding: 0;
            display: none;
        }
        .form-simple-row {
            padding-left: 200px;
        }
    }
}

@media screen and (max-width: 500px) {
    form.form-template.form-simple {
        .form-simple-row textarea,
        .form-simple-row select,
        .form-simple-label {
            width: 100px;
        }
        .form-simple-notes {
            margin-left: 100px;
        }
        .form-controls .form-simple-row {
            padding-left: 100px;
        }
    }
}